
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vcxproj
*.filters
*.tlog
*.exe
*.recipe
algo/.vs/algo/v16/.suo
algo/Debug/algo.ilk
algo/Debug/algo.log
algo/Debug/algo.obj
algo/Debug/algo.pdb
algo/Debug/algo.vcxproj.FileListAbsolute.txt
algo/Debug/vc142.idb
algo/Debug/vc142.pdb
algo/algo.cpp
algo/algo.cpp
react/reactVelopert/redux/dist/redux.98afc47a.js.map
react/reactVelopert/redux/dist/redux.98afc47a.js
react/reactVelopert/redux/.parcel-cache/cc001662b4fa88d5.txt
react/reactVelopert/redux/.parcel-cache/data.mdb
react/reactVelopert/redux/.parcel-cache/lock.mdb
react/reactVelopert/redux/dist/index.36efa996.js
react/reactVelopert/redux/dist/index.36efa996.js.map
react/reactVelopert/redux/dist/index.6d0d008b.css
react/reactVelopert/redux/dist/index.6d0d008b.css.map
react/reactVelopert/redux/dist/index.c71f97c6.js
react/reactVelopert/redux/dist/index.c71f97c6.js.map
node_modules
algo/algo/.vs/algo/v16/.suo
algo/algo/.vs/algo/v16/.suo
*.ilk
*.obj
*.idb
*.pdb
*.pdb
algo/algo/.vs/algo/v16/.suo
algo/algo/.vs/algo/v16/.suo
algo/algo/.vs/algo/v16/.suo
.parcel-cache/30bd298e8c172068.txt
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
algo/algo/.vs/algo/v16/.suo
algo/algo/.vs/algo/v16/.suo
algo/algo/algo/algo.cpp
algo/algo/algo/Debug/algo.ilk
algo/algo/algo/Debug/algo.obj
algo/algo/algo/Debug/vc142.idb
algo/algo/algo/Debug/vc142.pdb
algo/algo/Debug/algo.pdb
